<% include partials/header %>
<a href="/"><img src='images/logo.png'></a><br>
<form method="POST">
    <input name="_email" type="email" placeholder="Email" value="michaelsaly@msn.com" required><br>
    <input name="_password" type="password" placeholder="Password" value="123456" required><br>
    <input type="submit" value="Login">
</form>
<p>Not a member? Register <a href='/register'>here</a></p>
<% include partials/footer %>