<% include partials/header %>

<a href="../"><img src='../images/logo.png'><br></a>
<h1><%=data.name%></h1>
<ul>
    <li>Price: €<%=data.price%></li>
    <li>Category: <%=data.category%></li>
    <li>Store:  <%=data.store%></li>
</ul>

<% include partials/footer %>