<% include partials/header %>
    <a href="/"><img src='images/logo.png'></a><br>
    <a href="/events">Events</a><br>
    <a href="/deals">Deals</a><br>
    <a href="/groups">Groups</a>
    <a href="/logout">Log out</a>
<% include partials/footer %>