<% include partials/header %>

<main role="main" class="container">
    <div class="starter-template">
        <h1>Welcome to MyMaynooth</h1>
        <p class="lead">A cosy hub for all Maynooth University students.</p>
        <p>Please <a href="/login">log in</a> or <a href="/register">register</a>.</p>
    </div>
</main>

<% include partials/footer %>