<% include partials/header %>
<main role="main">
    <div class="container">
        <div class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <% if(registerSuccessMessage.length > 0) { %>
            <p>You have successfully registered!</p>
        <% } %>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input id="_email" type="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input value="123456" id="_password" type="password" class="form-control" placeholder="Password" required>
        <!-- <div class="checkbox">
            <label>
            <input type="checkbox" value="remember-me"> Remember me
        </div> -->
        <div id="loginError"></div>
        <button type="button" onclick="signin(document.getElementById('_email').value, document.getElementById('_password').value)" class="btn btn-lg btn-primary btn-block">Sign in</button>
      </div>
    </div>
</main><!-- /.container -->

<% include partials/footer %>